@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: rgb(225, 225, 225);
}

.container {
  display: flex;
  width: 100%;
}

.one {
  background: url(https://cdn.dribbble.com/users/2846201/screenshots/18072866/media/c7a66cd1d569418b71e0d354611649c5.png);
}

.two {
  background: url(https://cdn.dribbble.com/users/2846201/screenshots/18072866/media/c7a66cd1d569418b71e0d354611649c5.png);
}

.three {
  background: url(https://cdn.dribbble.com/users/2846201/screenshots/18072866/media/c7a66cd1d569418b71e0d354611649c5.png);
}

.section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 0.3;
  margin: 8px;
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.92;
  }

  .card {
    visibility: hidden;
    opacity: 0;
  }
}

.section.active {
  flex: 2;
  position: relative;

  .card {
    visibility: visible;
    opacity: 1;
    height: 250px;
    width: 300px;
    background-color: white;
    padding: 3em 2em;
    position: absolute;
    bottom: -40px;
    left: 5%;
    transition: visibility 0s, opacity 0.2s linear;
    line-height: 1.5;

    h3 {
      margin-bottom: 1rem;
      font-weight: 800;
    }

    &:hover {
      background-color: #000;
      color: white;
    }
  }
}
